PORT=Your Port Number Here eg.[3000]

JWT_SECRET="Your JWT Secret Here"




#Database configuration

#Manual DB
DATABASE_URL="Your Local Database URL Here"

--------OR--------

#Docker pg15
DATABASE_URL=postgresql://postgres:postgres@db:5432/finance_db?schema=public

#add this is src and root both for local development